doctype html
html
  head
    meta(name="viewport", content="width=device-width,initinal-scale=1", charset="utf-8",http-equiv="content-type")
    link(rel="stylesheet", href="/public/css/app.css")    
  body 
      div.container
        h1.title 将你的拼音调整位置
        form(method="get" action="/index").input-form.flex-box.flex-box-center
          textarea(name="inputText").input-text#inputText #{inputStr}
          input(type="submit", value="转换").btn.btn-exchange#btnExchange 
          textarea.output-text#outputText  #{outputStr}
